@import 'styles/settings';

.c-checkbox {
  label {
    font-size: $font-size-big;
    font-weight: 500;
    display: block;
    padding: 2px 0;
    text-transform: none;
    position: relative;
    padding-left: 22px;
    line-height: 1;
    cursor: pointer;
    width: auto;
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
    color: palette(blue, light);
    transition: color linear .1s;

    &:hover {
      color: palette(blue, lighter);
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid palette(blue, light);
      border-radius: 2px;
      transform: translate(0,-50%);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 1px;
        fill: palette(white);
        display: block;
        transform: translate(-50%,-50%) scale(0);
        transition: all $animation-time $ease-in-out-sine;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + label {
    color: $color-white;

    span {
      border-color: palette(blue, secondary);
      background-color: palette(blue, secondary);
      svg {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
}
