@import 'styles/settings';

.c-checkbox-box {
  > * {
    margin: 0 0 10px;
    &:last-child {
      margin: 0;
    }
  }

  &.-inline {
    display: flex;
    > * {
      margin: 0 ($space-1 * 2) 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}
