@import 'styles/settings';
@import 'styles/functions';

.c-tooltip-slider {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-1;
  font-size: $font-size-default;

  > .tooltip-value-container {
    position: absolute;
    top: -21px;
    transform: translate(-50%, 0);
  }

  // themes
  &.-light {
    color: palette(white);
  }

  &.-dark {
    color: palette(gray, dark);
  }

  &.-disabled {
    pointer-events: none;
    opacity: .5;
  }
}
