@import 'styles/settings';

.c-tools-menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background: palette(white);
  transition: all $animation-time $ease-in-out-sine;
  transform: translate(0, -10%);
  box-shadow: 0 1px 1px rgba(palette(black), .15);

  &.-active {
    transform: translate(0,0%);
    opacity: 1;
    visibility: visible;
  }

  .item {
    flex: 1;
    padding: ($space-1 * 2);
    color: $color-primary;

    &:not(:last-child) {
      border-right: 1px solid rgba(palette(white), .5);
    }

    > svg {
      display: block;
      margin: 0 0 $space-1;
    }

    > span {
      display: block;
    }

    &:hover,
    &.-active {
      background: $color-primary;
      color: palette(white);
      fill: palette(white);
    }
  }
}
