@import 'styles/settings';

$size-header: 60px;

.c-header {
  display: flex;
  position: relative;
  background: palette(white);
  width: 100%;
  height: $size-header;
  z-index: 9999;
  // @include only-desktop {
  //   box-shadow: 0 1px 1px rgba(palette(black), .15);
  // }

  nav {
    display: flex;
    justify-content: flex-end;;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    background: palette(white);

    .list {
      display: flex;
      justify-content: space-between;

      li {
        position: relative;

        > ul {
          display: flex;
        }
      }

      li > a,
      li > button {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: $size-header;
        padding: 0 ($space-1 * 2);
        background: white;
        color: $color-primary;
        fill: $color-primary;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1.4px;
        transition: all $animation-time $ease-in-out-sine;
        text-transform: uppercase;

        > * {
          margin: 0 $space-1 0 0;
          &:last-child { margin: 0; }
        }

        &:hover { background: darken(white, 5%); }
        &:active { background: darken(white, 10%);}
        &.-active {
          background: $color-primary;
          color: white;
          fill: white;
        }
      }
    }
  }

  // LOGO
  .c-header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ($space-1 * 2);
    margin: 0;

    .header-logo {
      position: relative;
      display: block;
      width: 160px;
      height: $size-header;
      background: url("./logo.png") center no-repeat;
      background-size: contain;

      span {
        display: block;
        text-indent: -9999px;
      }

      &:before {
        content: "BETA";
        position: absolute;
        top: 7px;
        right: 1px;
        font-size: $font-size-extra-small;
        color: $color-text-1;
      }
    }

    .header-title {
      display: block;
      padding: 0 0 0 ($space-1 * 2);
      font-size: $font-size-small;
      color: $color-primary;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      white-space: nowrap;
    }
  }
}
