.c-dropdown-button {
  position: relative;
  outline: 0;

  > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    padding: ($space-1 * 2) 0;
    list-style: none;
    background-color: palette(white);
    box-shadow: 0 ($space-1 / 2) ($space-1) 0 rgba(palette(black), .2);
    z-index: 1;


    // POSITION
    // horizontal position
    &.-left {
      left: auto;
      right: 0;
    }
    &.-right {
      left: 0;
      right: auto;
    }

    // vertical position
    &.-top {
      top: auto;
      bottom: 100%;
      transform: translateY(-$space-1 / 2);
    }
    &.-bottom {
      top: 100%;
      bottom: auto;
      transform: translateY($space-1 / 2);
    }


    > li {
      padding: ($space-1) ($space-1 * 3);
      line-height: 1.1;
      color: palette(gray, 'dark');
      cursor: pointer;

      &:active,
      &.-selected {
        color: palette(blue);
        outline: none;
        background-color: rgba(palette(gray, 'dark'), .05);
      }
      &.-disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}
