.c-filters {
  background: palette(blue);

  .filters-section {
    padding: ($space-1 * 4) 0 ($space-1 * 3) ($space-1 * 4);

    @include only-mobile {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      padding-top: ($space-1 * 4);

      @include only-mobile {
        padding-top: 0;
        padding-bottom: ($space-1 * 4);
      }
    }

    &.-highlighted {
      background: palette(blue, 'dark');
    }

    &.-separator {
      border-bottom: solid 1px palette(blue, 'dark');
    }
  }

  &.-compare {
    @include only-desktop {
      background-color: palette(blue);
    }

    .filters-group {
      margin: 0;
    }
  }
}


.c-filters-item {
  padding-right: $space-1 * 4;

  @include only-mobile {
    padding-top: $space-1 * 4;
  }

  > * {
    margin-bottom: $space-1 * 3;

    &:last-child { margin-bottom: 0; }
  }

  &:empty { display: none; }

  // HEADER
  .filter-item-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;

    .title {
      color: palette(white);
      font-size: $font-size-extrabig;
      font-weight: 300;
      display: flex;
      align-items: center;
      @include only-desktop {
        justify-content: flex-start;
      }
      @include only-mobile {
        justify-content: space-between;
      }
    }

    .icon-container {
      display: inline-flex;
    }

    .title-icon {
      width: 20px;
      height: 20px;
      margin-left: $space-1 * 2;
      fill: palette(blue, light);
      border: 1px solid palette(blue, light);
      margin-right: $space-1 * 2;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color .1s linear;

      &:hover {
        fill: palette(blue, primary);
        background-color: palette(blue, light);
      }
    }
  }
}

.filters-lead {
  @include only-mobile {
    background-color: palette(blue, dark);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2) inset;
  }
}

/* Mobile */
.c-mobile-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(calc(100% - #{$height-filter-btn}));
  transition: transform $ease-out-cubic $animation-time;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  height: calc(100% - 60px);
  background-color: palette(blue);
  overflow-y: auto;

  &.-opened {
    transform: translateY(0);
    svg.icon-toggle {
      transform: rotateX(180deg);
    }
  }

  &.-compare {
    transform: translateY(calc(100% - #{$height-filter-btn + $height-country-tabs}));
    &.-opened {
      transform: translateY(0);
      .mobile-filters-content {
        display: none;
      }
    }
  }

  .mobile-filters-wrapper {
    flex: 1;
    overflow-y: auto;
  }

  .mobile-filters-btn {
    text-transform: uppercase;
    color: palette(white);
    background-color: palette(blue);
    display: block;
    width: 100%;
    padding: 14px 35px;
    font-weight: 500;
    letter-spacing: .6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      fill: palette(white);
    }
  }
}
