$button-size: 48px;

.c-map-controls {
  position: absolute;
  top: $space-1 * 2;
  right: $space-1 * 2;
  z-index: 999;

  > .map-actions-list {
    margin: $space-1 / 2 0 0 0;
  }

  > .map-actions-list > .map-actions-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $button-size;
    padding: 0;

    border: 1px solid palette(gray, light);
    border-radius: 3px;

    color: palette(gray, dark);
    font-size: 18px;
    line-height: $button-size;
    text-align: center;

    background-color: palette(white);
    transition: background-color linear $animation-time;

    &:not(:first-child) {
      margin: $space-1 / 2 0 0 0;
    }

    // buttons
    .download-map-btn {
      position: relative;
      width: 100%;
      height: 100%;

      > button {
        width: 100%;
        height: 100%;
      }

      > button > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
