@import "~rc-slider/assets/index";

.rc-slider {
  min-height: 125px;
}

.rc-slider-mark-text {
  text-align: left !important;
  transform: none !important;
}

.rc-slider-dot:nth-child(odd),
.rc-slider-dot:first-of-type,
.rc-slider-dot:last-of-type {
  height: 12px !important;
  width: 12px !important;
  margin-top: -4px;
  margin-left: -6px;
}

.rc-slider-step {
  margin-top: 1px;
}

.rc-slider-dot:first-of-type {
  transform: translateY(50%) translateX(100%) !important;
  margin-left: -12px;
  margin-right: 0;
}

.rc-slider-dot:last-of-type {
  transform: translateY(50%) translateX(-100%) !important;
  margin-left: 0;
  margin-right: 0;
}

.rc-slider-handle {
  transform: translateX(-25%) !important;
  &:after {
    content: "";
    background: #a59fbb;
    display: "block";
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
}

.rc-slider-mark {
  margin-left: 0;
}


// Tooltip
.rc-slider-tooltip {
  .rc-slider-tooltip-inner {
    padding: 5px 15px;
    background-color: palette(white);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,.4);
    color: palette(blue);
    font-size: 16px;
    line-height: 1;
    height: auto;
    font-weight: 600;
    white-space: nowrap;
  }
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: palette(white) !important;
  border-width: 8px 6px 0 !important;
  margin-left: -6px !important;
  bottom: 0 !important;
}