.c-sticky {
  z-index: 1;

  &.-sticked {
    width: 100%;
    position: fixed;
    top: 0;
    animation: appear $animation-time 0s forwards;
  }

  &.-full-width {
    z-index: 10;

    &.-sticked {
      left: 0;
      width: 100%;
    }
  }
}
