$table-column-padding: 10px;

.c-table {
  border: 1px solid $border-color-1;
  margin: 16px 0;

  table, .table {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $border-color-1;
    font-size: $font-size-small;

    li {
      list-style: none;
    }

    td, th {
      border: 1px solid $border-color-1;

      &.-a-center {
        text-align: center;
      }

      &.-a-right {
        text-align: right;
      }
    }

    th {
      position: relative;
      color: $color-text-1;
      font-weight: bold;
      white-space: nowrap;

      padding: $table-column-padding;

      &.description {
        min-width: 220px;
      }
    }

    td {
      width: 100%; // It will force the tds to be expanded along the table
      padding: $table-column-padding;
    }
  }
}
