@import "~rc-tooltip/assets/bootstrap_white";

.rc-tooltip {
  background: transparent;
  opacity: 1;

  .rc-tooltip-arrow {
    border-top-color: palette(white);
  }

  .rc-tooltip-inner {
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(black, .2);
    background: palette(white);
    font-family: $font-family-roboto;
    font-size: $font-size-default;
    color: $color-text-1;
  }
}
